<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">            
            <a href="#" class="navbar-brand">Optimization Model</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <img src="https://www.stelco.com/sites/default/files/styles/section_small_max_size_x1/public/assets/landing_page/text_image_small/Stelco_Logo_With_Tagline_0.jpg?itok=7RgiXXmo" alt="stelco logo" width="100" height="50">
        </div>
    </div>
</nav>