<h2 class="h2">OUTPUT</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Time to ladle empty</th>
        <th scope="col">EXIT AIM TEMPERATURE</th>
        <th scope="col">SH at 25</th>
        <th scope="col">SH at 200</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">10 minutes</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">15 minutes</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">20 minutes</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">25 minutes</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">30 minutes</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>